.Profile {
  flex-grow: 1;
  padding-top: 30px;
}

.Profile .user {
  border: 1px solid #4052B3;
  border-radius: 4px;
  max-width: 300px;
  padding: 20px;
  margin-bottom: 30px;
}

.Profile .user span {
  display: block;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.Profile form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.Profile .select {
  max-width: 150px;
}

.Profile button {
  max-width: 150px;
}

.Profile h1 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .Profile h1 {
    font-size: 30px;
  }
}

.Profile .error {
  color: crimson
}