.CreateUser {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.CreateUser form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.CreateUser .error {
  color: crimson
}

@media screen and (max-width: 768px) {
  .CreateUser h1 {
    font-size: 30px;
  }
}